!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/

    %title= yield(:title).blank? ? "VimTweets" : "#{yield(:title)} - VimTweets"

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    .container
      .row
        .four.columns
          %p
            %strong Welcome to Vimtweets!
          %p
            This collection of Vim tips are tweeted on weekdays over at&nbsp;
            %a{:href => 'http://twitter.com/vimtips'}>@vimtips
            \. Created by
            %a{:href => 'http://mileszs.com'} MilesZS
            and
            %a{:href => 'http://getfretless.com'}> Fretless
            \. Enjoy!
        .eight.columns
          = yield
